
    <!-- FOOTER -->
    <footer
      class="text-center text-lg-start text-muted"
      style="background-color: #e5ecf2"
    >
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom"
      >
        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">Candida Mine</h6>

              <p>
                Opathy project has received funding from the European Union's
                Horizon 2020 research and innovation programme under the Marie
                Sklodowska-Curie grant agreement No 642095
              </p>

              <!-- Citation -->
              <p>
                <b><u>Cite us:</u></b> "CandidaMine, an integrative omics
                database for Candida yeast pathogens", (In preparation)
              </p>

              <!-- Contact Us -->
              <!-- TODO: Will have to make a separate contact form! -->
              <h6 class="text-uppercase fw-bold mb-4">
                <a href="#" target="_blank">Contact Us</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Tutorial</h6>

              <div>
                <p>
                  <a
                    href="https://candidamine.readthedocs.io/en/latest/user_guide/overview.html"
                    target="_blank"
                    >User Guide</a
                  >
                </p>
                <p>
                  <a
                    href="https://candidamine.readthedocs.io/en/latest/tech_docs/technical.html"
                    target="_blank"
                    >Technical Docs</a
                  >
                </p>
              </div>
            </div>

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <p>
                <a
                  class="reference-logo"
                  href="https://www.opathy.eu/"
                  target="_blank"
                  ><img src="./images/logos/opathy-logo.png"
                /></a>
              </p>
              <p>
                <a
                  class="reference-logo"
                  href="https://www.opathy.eu/"
                  target="_blank"
                  ><img src="./images/logos/cambridge-logo.png"
                /></a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Contact US -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase text-center fw-bold mb-4">
                Powered By
              </h6>
              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank"
                  ><img src="./images/logos/intermine-logo.png"
                /></a>
              </p>

              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank">InterMine</a>
              </p>
              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank">FlyMine</a>
              </p>
              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank">MouseMine</a>
              </p>
              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank">RatMine</a>
              </p>
              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank">WormMine</a>
              </p>
              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank">YeastMine</a>
              </p>
              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank"
                  >ZebrafishMine</a
                >
              </p>
              <p class="text-center">
                <a href="https://www.opathy.eu/" target="_blank">HumanMine</a>
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
      <!-- Copyright -->
      <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2002 - 2019 Copyright: Department of Genetics, University of
        Cambridge.
      </div>
      <!-- END: Copyright -->
    </footer>
    <!-- END: FOOTER -->
