<!-- NAVBAR -->

<header class="sticky-top" style="background-color: #eaeaea">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img id="home-logo" src="./images/logos/candida-mine-logo.png"
          /></a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor03"
            aria-controls="navbarColor03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Templates</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Lists</a
                >
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Upload</a>
                  <a class="dropdown-item" href="#">View</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">QueryBuilder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Regions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Data Sources</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >API</a
                >
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Perl</a>
                  <a class="dropdown-item" href="#">Python</a>
                  <a class="dropdown-item" href="#">Ruby</a>
                  <!-- <div class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="#">Java</a>
                </div>
              </li>

              <!-- The login will switch to MyMine if the user is logged in. -->
              <li class="nav-item">
                <a class="nav-link" href="#">Log in</a>
              </li>
              <li class="nav-item bg-secondary">
                <a class="nav-link" href="#">MyMine</a>
              </li>
            </ul>

            <!-- SEARCH BAR -->
            <form class="d-flex my-md-2">
              <input
                class="form-control me-sm-2"
                type="search"
                placeholder="Search"
              />
              <button type="submit" class="btn btn-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-search"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                  ></path>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
