<div class="container">
    <div class="row">
        <div class="col mt-5">
            <ul id="progress-bar" class="progressbar d-flex justify-content-center">
                <li class="active">1 Upload list of identifiers</li>
                <li class="active">2 Verify identifier matches</li>
                <li>3 List analysis</li>
            </ul>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col d-flex justify-content-center">
            <button class="btn" id="Next">Next</button>
            <button class="btn" id="Back">Back</button>
            <button class="btn" id="Reset">Reset</button>
        </div>
    </div> -->

    <div class="row align-items-center justify-content-center my-5">
        <div class="col-7 bg-light card" style="padding: 0 !important;">

            <h5>DEV. NOTES:</h5>
            <div class="w-100 bg-secondary" style="height: 0.1rem"></div>
            <ul>
                <li class="p-3">The verification of the list upload MUST have the progressbar of the previous step in
                    the progress. That way the user intuit he is still in the same progress.</li>
                <li class="p-3">Rest of the page is fine. I'd leave it as it is, <u><b>EXCEPT</b></u>:
                    <ol>
                        <li class="py-1">
                            The data tables respond well to the screen size changes, EXCEPT
                            for mobile. It's not navigatable anymore.
                            <u><b>SOLUTION:</b></u> add "overflow-y: scroll;"
                        </li>
                        <li class="py-1">
                            Change the buttons for the bootstrap one (which is used in other pages), so the site stays homogeneous.
                        </li>
                    </ol>
                </li>


            </ul>
            <div class="w-100 bg-secondary" style="height: 0.1rem"></div>

        </div>
    </div>
</div>

<!-- <script type="text/javascript" src="./js/stepper-progressbar.js"></script> -->
