<div class="container px-5 my-4">
  <form class="card mb-3">
    <h3 class="card-header" style="background-color: #e5ecf2">
      <img
        src="./images/logos/templates-logo.png"
        style="max-width: 5rem"
      />Templates
    </h3>

    <p class="card-text">
      Templates are predefined queries, each has a simple form and a
      description.
    </p>
    <p>
      Click on a template to run it, you can search for templates by keyword and
      filter them by category.
    </p>


    <!-- TEMPLATES LIST CONFIG -->
    <div class="d-flex" style="background-color: #e5ecf2">
        <div class="form-group">
          <label for="templates-filter-term" class="form-label">Filter term</label>
          <input type="text" class="form-control" id="templates-filter-term" placeholder="Filter term">
        </div>
        <div class="form-group">
          <label for="templates-filters" class="form-label">Filters</label>
          <select class="form-select" id="templates-filters">
            <option value="" selected="">-- all categories --</option>
            <option value="Genomics">Genomics</option>
            <option value="Proteins">Proteins</option>
            <option value="Homology">Homology</option>
            <option value="Expression">Expression</option>
            <option value="Interactions">Interactions</option>
          </select>
        </div>

        <div class="form-check">
            <!-- <label class="form-check-label" for="">
              Default checkbox
            </label> -->
            <label for="" >Options</label>
            <div class="form-check">
                <small><label for="">Show descriptions</label></small>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
            <div class="form-check">
                <small><label for="">Show Tags</label></small>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
        </div>


    </div>
    <!-- END: TEMPLATES LIST CONFIG -->

    <ul class="list-group list-group-flush templates-menu-list-hover">
      <li class="list-group-item"
        >
        <fieldset class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              onClick="toggleHighlight(event.target.parentNode.parentNode.parentNode)"
            />
            <small><a href="#" target="_blank">LncRNA Dataset</a></small>
          </div>
          <small
            ><i class=""
              >SRA Runs and Study used in LncRNA predictions</i
            ></small
          >
        </fieldset>
      </li>

      <li class="list-group-item">
        <fieldset class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              onClick="toggleHighlight(event.target.parentNode.parentNode.parentNode)"
            />
            <small><a href="#" target="_blank">Gene -> Expression Profile</a></small>
          </div>
          <small
            ><i class=""
              >Retrive Gene expression profile filtered by TMP or read count</i
            ></small
          >
        </fieldset>
      </li>

      <li class="list-group-item">
        <fieldset class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              onClick="toggleHighlight(event.target.parentNode.parentNode.parentNode)"
            />
            <small><a href="#" target="_blank">Gene --> Proteins.</a></small>
          </div>
          <small
            ><i class=""
              >Show the proteins for a particular gene.</i
            ></small
          >
        </fieldset>
      </li>

    </ul>
  </form>
</div>

<script>
  /* Turns the "target" argument element highlighted,
   * if the checkbox inside of it has been clicked.
   * @param event object<event>
   * @return None
   */
  function toggleHighlight(target) {
    const targetStyle = target.style;
    const currentColor = targetStyle.background;

    if (currentColor === "") {
      targetStyle.background = "lightblue";
    } else {
      targetStyle.background = "";
    }
  }
</script>
