@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.animated-bottom-border:after {
    display: block;
    content: "";
    border-bottom: solid 3px #019fb6;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.animated-bottom-border:hover:after {
    transform: scaleX(1);
    -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.link-icon {
    color: #475569;
}

.slanted-top-to-right {
    clip-path: polygon(0 0, 100% 17%, 100% 100%, 0% 100%);
}

.slanted-bottom-to-right {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.slanted-top-to-left {
  clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
}

.slanted-bottom-to-left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
}
